#head{
    height: 32px;
    background: #0872b9;
    // align-items: center;

    .main{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text{
            width: 140px;
            width: 50%;
            // float: left;
            align-items: center;
    
            p{
                line-height: 32px;
                color: #e7e7e7;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
            }
        }
        .icons{
            width: 50%;
            // float: left;
            text-align: right;
            line-height: 32px;
    
            i{
                color: #e7e7e7;
                font-size: 14px;
                transition: 0.3s all linear;
                margin-left: 24px;
    
                &:hover{
                    color: #353535;
                }
            }
        }
    }
}
 #main_menu{
        height: 80px;

     .main{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            //  width: 20%;
            // float: left;
        
            a{
                    line-height: 80px;
            }
         }
         .menu{
            //  width: 80%;
              // float: left;
              text-align: right;
              line-height: 80px;
        
             ul{
                 display: flex;

                li{
                    display: inline-block;
        
                    a{
                        font-size: 14px;
                        color: #353535;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 500;
                        margin-left: 15px;
                        transition: 0.5s all linear;
        
                        &:hover{
                            color: #2b7dbe;
                        }
                    }
                }
            }
        }
    }
}
